[submodule "apps/mac/ThirdParty/ghostty"]
	path = apps/mac/ThirdParty/ghostty
	url = https://github.com/ghostty-org/ghostty.git
[submodule "apps/mac/ThirdParty/git-wt"]
	path = apps/mac/ThirdParty/git-wt
	url = https://github.com/khoi/git-wt.git
